<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Local E-Hentai Galleries</title>
    <link rel="stylesheet" type="text/css" href="/static/g.css">
    <meta name="description" content="With more than half a million absolutely free hentai doujinshi, manga, cosplay and CG galleries, E-Hentai Galleries is the world's largest free Hentai archive.">
</head>
<body>
<!--
<div id="nb" class="nosel">
    <div><a class="nbw" href="https://e-hentai.org/">Front<span class="nbw1"> Page</span></a></div>
    <div><a href="https://e-hentai.org/watched">Watched</a></div>
    <div><a href="https://e-hentai.org/popular">Popular</a></div>
    <div><a href="https://e-hentai.org/torrents.php">Torrents</a></div>
    <div><a href="https://e-hentai.org/favorites.php">Fav<span class="nbw1">orite</span>s</a></div>
    <div><a href="https://e-hentai.org/home.php"><span class="nbw2">My </span>Home</a></div>
    <div><a href="https://upload.e-hentai.org/manage.php"><span class="nbw2">My </span>Uploads</a></div>
    <div><a href="https://e-hentai.org/toplist.php">Toplists</a></div>
    <div><a href="https://e-hentai.org/bounty.php">Bounties</a></div>
    <div><a href="https://e-hentai.org/news.php">News</a></div>
    <div><a href="https://forums.e-hentai.org/">Forums</a></div>
    <div><a href="https://ehwiki.org/">Wiki</a></div>
    <div><a href="https://hentaiverse.org/" onclick="popUp('https://hentaiverse.org/',1250,720); return false">H<span
                    class="nbw1">entai</span>V<span class="nbw1">erse</span></a></div>
</div>
-->
<div class="ido">
    <div id="toppane">
        <h1 class="ih">E-Hentai Galleries: The Free Hentai Doujinshi, Manga and Image Gallery System</h1>
        <div id="searchbox" class="idi">
            <form action="/" method="get" style="margin:0px; padding:0px">
                <input type="hidden" id="f_cats" name="f_cats" value="{{.FCats}}">
                <table class="itc">
                    <tbody>
                    <tr>
                        <td>
                            <div id="cat_2" class="cs ct2" onclick="toggle_category(2)" {{if not (index .FCatsM 2)}}data-disabled="1"{{end}}>Doujinshi</div>
                        </td>
                        <td>
                            <div id="cat_4" class="cs ct3" onclick="toggle_category(4)" {{if not (index .FCatsM 4)}}data-disabled="1"{{end}}>Manga</div>
                        </td>
                        <td>
                            <div id="cat_8" class="cs ct4" onclick="toggle_category(8)" {{if not (index .FCatsM 8)}}data-disabled="1"{{end}}>Artist CG</div>
                        </td>
                        <td>
                            <div id="cat_16" class="cs ct5" onclick="toggle_category(16)" {{if not (index .FCatsM 16)}}data-disabled="1"{{end}}>Game CG</div>
                        </td>
                        <td>
                            <div id="cat_512" class="cs cta" onclick="toggle_category(512)" {{if not (index .FCatsM 512)}}data-disabled="1"{{end}}>Western</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="cat_256" class="cs ct9" onclick="toggle_category(256)" {{if not (index .FCatsM 256)}}data-disabled="1"{{end}}>Non-H</div>
                        </td>
                        <td>
                            <div id="cat_32" class="cs ct6" onclick="toggle_category(32)" {{if not (index .FCatsM 32)}}data-disabled="1"{{end}}>Image Set</div>
                        </td>
                        <td>
                            <div id="cat_64" class="cs ct7" onclick="toggle_category(64)" {{if not (index .FCatsM 64)}}data-disabled="1"{{end}}>Cosplay</div>
                        </td>
                        <td>
                            <div id="cat_128" class="cs ct8" onclick="toggle_category(128)" {{if not (index .FCatsM 128)}}data-disabled="1"{{end}}>Asian Porn</div>
                        </td>
                        <td>
                            <div id="cat_1" class="cs ct1" onclick="toggle_category(1)" {{if not (index .FCatsM 1)}}data-disabled="1"{{end}}>Misc</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p class="nopm">
                    <input type="text" id="f_search" name="f_search" placeholder="Search Tags" size="50" maxlength="200" value="{{.FSearch}}">
                    <input type="submit" value="Apply Filter">
                    <input type="button" value="Clear Filter" onclick="top.location.href='/'; return false">
                </p>
                <div id="advdiv">
                    <input type="hidden" id="advsearch" name="advsearch" value="1" />
                    <table class="itss">
                        <!--
                        <tr>
                            <td class="ic4">
                                <input id="adv11" type="checkbox" name="f_sname" checked="checked" />
                                <label for="adv11">Search Gallery Name</label>
                            </td>
                            <td class="ic4">
                                <input id="adv12" type="checkbox" name="f_stags" checked="checked" />
                                <label for="adv12">Search Gallery Tags</label>
                            </td>
                            <td class="ic2"><input id="adv13" type="checkbox" name="f_sdesc" colspan="2" />
                                <label for="adv13">Search Gallery Description</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="ic2" colspan="2"><input id="adv15" type="checkbox" name="f_storr" /> <label for="adv15">Search Torrent Filenames</label></td>
                            <td class="ic2" colspan="2"><input id="adv16" type="checkbox" name="f_sto" /> <label for="adv16">Only Show Galleries With Torrents</label></td>
                        </tr>
                        <tr>
                            <td class="ic2" colspan="2"><input id="adv21" type="checkbox" name="f_sdt1" /> <label for="adv21">Search Low-Power Tags</label></td>
                            <td class="ic2" colspan="2"><input id="adv22" type="checkbox" name="f_sdt2" /> <label for="adv22">Search Downvoted Tags</label></td>
                        </tr>
                        -->
                        <tr>
                            <td class="ic2" colspan="2">
                                <input id="adv31" type="checkbox" name="f_sh" {{if (.Values.Get "f_sh" ) }}checked{{end}}/>
                                <label for="adv31">Show Expunged Galleries</label>
                            </td>
                            <td class="ic2" colspan="2">
                                <input id="adv32" type="checkbox" name="f_sr" {{if (.Values.Get "f_sr" ) }}checked{{end}}/>
                                <label for="adv32">Minimum Rating:</label>
                                <select id="adv42" class="imr" name="f_srdd">
                                    <option value="2" {{if (eq (.Values.Get "f_srdd") "2")}}selected{{end}}>2 stars</option>
                                    <option value="3" {{if (eq (.Values.Get "f_srdd") "3")}}selected{{end}}>3 stars</option>
                                    <option value="4" {{if (eq (.Values.Get "f_srdd") "4")}}selected{{end}}>4 stars</option>
                                    <option value="5" {{if (eq (.Values.Get "f_srdd") "5")}}selected{{end}}>5 stars</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="ic2" colspan="2">
                                <label class="no-check-box">Order By:</label>
                                <select class="imr" name="f_order">
                                    <option value="" {{if (eq (.Values.Get "f_order") "")}}selected{{end}}>GID</option>
                                    <option value="posted" {{if (eq (.Values.Get "f_order") "posted")}}selected{{end}}>Posted Time</option>
                                    <option value="rating" {{if (eq (.Values.Get "f_order") "rating")}}selected{{end}}>Rating</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="ic2" colspan="2">
                                <label class="no-check-box">Local Files Filter:</label>
                                <select id="local-file-select" class="imr" name="f_local_files">
                                    <option value="" {{if (eq (.Values.Get "f_local_files") "")}}selected{{end}}>All</option>
                                    <option value="1" {{if (eq (.Values.Get "f_local_files") "1")}}selected{{end}}>Exist files</option>
                                    <option value="0" {{if (eq (.Values.Get "f_local_files") "2")}}selected{{end}}>Not exist files</option>
                                </select>
                            </td>
                            <td class="ic2" colspan="2">
                                <label class="no-check-box">Apply & Export As:</label>
                                <input type="submit" name="export" value="CSV">
                                <input type="submit" name="export" value="JSON">
                            </td>
                        </tr>
                        <!--
                        <tr>
                            <td class="ic2" colspan="2"><input id="adv61" type="checkbox" name="f_sp" />
                                <label for="adv61">Between </label>
                                <input type="text" name="f_spf" value="" size="4" maxlength="4" style="width:30px" /> and <input type="text" name="f_spt" value="" size="4" maxlength="4" style="width:30px" /> pages
                            </td>
                        </tr>
                        <tr>
                            <td class="ic1" colspan="4">Disable default filters for:
                                <input id="adv51" type="checkbox" name="f_sfl" /> <label for="adv51">Language</label>
                                <input id="adv52" type="checkbox" name="f_sfu" /> <label for="adv52">Uploader</label>
                                <input id="adv53" type="checkbox" name="f_sft" /> <label for="adv53">Tags</label>
                            </td>
                        </tr>
                        -->
                    </table>
                </div>
            </form>
        </div>
        <div id="fsdiv" class="idi" style="margin-top:10px; display:none"></div>
        <script type="text/javascript" src="/static/ehg_index.c.js"></script>

    </div>
    <div style="position:relative; z-index:2"><p class="ip">Showing {{.Total}} results</p>
        <!--
        <div id="dms">
            <div><select onchange="document.location='https://e-hentai.org/?inline_set=dm_' + this.value">
                    <option value="m">Minimal</option>
                    <option value="p">Minimal+</option>
                    <option value="l">Compact</option>
                    <option value="e" selected="selected">Extended</option>
                    <option value="t">Thumbnail</option>
                </select></div>
        </div>
        -->
        {{if (gt .Total 0)}}
        <table class="ptt" style="margin:2px auto 0px">
            <tbody>
            <tr>
                {{if (gt .Page 1)}}
                    <td {{if (ne 1 $.Page)}}onclick="document.location=this.firstChild.href" {{else}}class="ptds"{{end}}><a href="/?page={{(call $.AddI .Page -1)}}&{{$.RawValues}}" onclick="return false"><</a></td>
                {{end}}
                {{if .GenPageFirst}}
                    <td {{if (ne 1 .Page)}}onclick="document.location=this.firstChild.href" {{else}}class="ptds"{{end}}><a href="/?page=0&{{$.RawValues}}" onclick="return false">1</a></td>
                {{end}}
                {{if .GenPageLeftJumper}}
                    <td onclick="var page=prompt('Jump to page: (1-{{.MaxPage}})', {{.Page}}); if(page != null) document.location='/?page='+Math.min({{.MaxPage}}, Math.max(0, page - 1))+'&{{$.RawValues}}'">
                        ...
                    </td>
                {{end}}
                {{range .Pages}}
                    <td {{if (ne . $.Page)}}onclick="document.location=this.firstChild.href" {{else}}class="ptds"{{end}}><a href="/?page={{(call $.AddI . -1)}}&{{$.RawValues}}" onclick="return false">{{.}}</a></td>
                {{end}}
                {{if .GenPageRightJumper}}
                    <td onclick="var page=prompt('Jump to page: (1-{{.MaxPage}})', {{.Page}}); if(page != null) document.location='/?page='+Math.min({{.MaxPage}}, Math.max(0, page - 1))+'&{{$.RawValues}}'">
                        ...
                    </td>
                {{end}}
                {{if .GenPageLast}}
                    <td {{if (ne .MaxPage .Page)}}onclick="document.location=this.firstChild.href" {{else}}class="ptds"{{end}}><a href="/?page={{(call $.AddI .MaxPage -1)}}&{{$.RawValues}}" onclick="return false">{{.MaxPage}}</a></td>
                {{end}}
                {{if (lt .Page .MaxPage)}}
                    <td {{if (ne .MaxPage $.Page)}}onclick="document.location=this.firstChild.href" {{else}}class="ptds"{{end}}><a href="/?page={{(call $.AddI .Page -1)}}&{{$.RawValues}}" onclick="return false">></a></td>
                {{end}}
            </tr>
            </tbody>
        </table>
        {{end}}
        <table class="itg glte">
            <tbody>

            {{range .Galleries}}
            <tr data-new="1">
                <td class="gl1e" style="width:250px">
                    <div style="height:340px;width:250px"><img
                                    style="height:356px;width:250px;top:-8px"
                                    alt="{{.Title}}"
                                    title="{{.Title}}"
                                    src="{{(call $.GenThumb .Thumb)}}">
                    </div>
                </td>
                <td class="gl2e">
                    <div>
                        <div class="gl3e">
                            <div class="cn {{index $.CategoryToCt .Category}}">{{.Category}}</div>
                            <div class="glnew"
                                 id="posted_{{.GId}}">{{.Posted.Format "2006-01-02 15:04"}}
                            </div>
                            <div class="ir" style="{{(call $.GenRatingStyle .Rating)}}"></div>
                            <div>Rating: {{.Rating}}</div>
                            <div><a href="/?f_search=uploader:{{.Uploader}}$">{{.Uploader}}</a></div>
                            <div>{{.FileCount}} pages</div>
                            <div style="color: red">{{if .Expunged}}Expunged{{end}}</div>
                            <div></div>
                        </div>
                        <div class="gl4e glname" style="min-height:348px">
                            <div class="glink">{{.Title}}<br/>{{.TitleJpn}}<br/>/g/{{.GId}}/{{.Token}}</div>
                            <div>
                                <table>
                                    <tbody>
                                    {{range $key, $values := .Tags}}
                                        <tr>
                                            <td class="tc">{{$key}}:</td>
                                            <td>
                                                {{range $values}}
                                                    <a href="/?f_search={{$key}}:{{.}}$"><div class="gtl" title="{{$key}}:{{.}}">{{.}}</div></a>
                                                {{end}}
                                            </td>
                                        </tr>
                                    {{end}}
                                    </tbody>
                                </table>
                            </div>

                            <div class="gldbg">
                                <table>
                                    <tbody>
                                    <tr>
                                        <td class="tc">Title:</td>
                                        <td>
                                            <div class="gtl" title="{{.TitleExt.Convention}}">C: {{.TitleExt.Convention}}</div>
                                            <div class="gtl" title="{{.TitleExt.Group}}">G: {{.TitleExt.Group}}</div>
                                            <div class="gtl" title="{{.TitleExt.Artist}}">A: {{.TitleExt.Artist}}</div>
                                            <div class="gtl" title="{{.TitleExt.Title}}">T: {{.TitleExt.Title}}</div>
                                            <div class="gtl" title="{{.TitleExt.Parody}}">P: {{.TitleExt.Parody}}</div>
                                            <div class="gtl" title="{{.TitleExt.Translation}}">Trs: {{.TitleExt.Translation}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tc">TitleJpn:</td>
                                        <td>
                                            <div class="gtl" title="{{.TitleJpnExt.Convention}}">C: {{.TitleJpnExt.Convention}}</div>
                                            <div class="gtl" title="{{.TitleJpnExt.Group}}">G: {{.TitleJpnExt.Group}}</div>
                                            <div class="gtl" title="{{.TitleJpnExt.Artist}}">A: {{.TitleJpnExt.Artist}}</div>
                                            <div class="gtl" title="{{.TitleJpnExt.Title}}">T: {{.TitleJpnExt.Title}}</div>
                                            <div class="gtl" title="{{.TitleJpnExt.Parody}}">P: {{.TitleJpnExt.Parody}}</div>
                                            <div class="gtl" title="{{.TitleJpnExt.Translation}}">Trs: {{.TitleJpnExt.Translation}}</div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </td>
            </tr>
            {{end}}

            </tbody>
        </table>
        {{if (gt .Total 0)}}
        <table class="ptb" style="margin:0px auto 5px">
            <tbody>
            <tr>
                {{if (gt .Page 1)}}
                    <td {{if (ne 1 $.Page)}}onclick="document.location=this.firstChild.href" {{else}}class="ptds"{{end}}><a href="/?page={{(call $.AddI .Page -1)}}&{{$.RawValues}}" onclick="return false"><</a></td>
                {{end}}
                {{if .GenPageFirst}}
                    <td {{if (ne 1 .Page)}}onclick="document.location=this.firstChild.href" {{else}}class="ptds"{{end}}><a href="/?page=0&{{$.RawValues}}" onclick="return false">1</a></td>
                {{end}}
                {{if .GenPageLeftJumper}}
                    <td onclick="var page=prompt('Jump to page: (1-{{.MaxPage}})', {{.Page}}); if(page != null) document.location='/?page='+Math.min({{.MaxPage}}, Math.max(0, page - 1))+'&{{$.RawValues}}'">
                        ...
                    </td>
                {{end}}
                {{range .Pages}}
                    <td {{if (ne . $.Page)}}onclick="document.location=this.firstChild.href" {{else}}class="ptds"{{end}}><a href="/?page={{(call $.AddI . -1)}}&{{$.RawValues}}" onclick="return false">{{.}}</a></td>
                {{end}}
                {{if .GenPageRightJumper}}
                    <td onclick="var page=prompt('Jump to page: (1-{{.MaxPage}})', {{.Page}}); if(page != null) document.location='/?page='+Math.min({{.MaxPage}}, Math.max(0, page - 1))+'&{{$.RawValues}}'">
                        ...
                    </td>
                {{end}}
                {{if .GenPageLast}}
                    <td {{if (ne .MaxPage .Page)}}onclick="document.location=this.firstChild.href" {{else}}class="ptds"{{end}}><a href="/?page={{(call $.AddI .MaxPage -1)}}&{{$.RawValues}}" onclick="return false">{{.MaxPage}}</a></td>
                {{end}}
                {{if (lt .Page .MaxPage)}}
                    <td {{if (ne .MaxPage $.Page)}}onclick="document.location=this.firstChild.href" {{else}}class="ptds"{{end}}><a href="/?page={{(call $.AddI .Page -1)}}&{{$.RawValues}}" onclick="return false">></a></td>
                {{end}}
            </tr>
            </tbody>
        </table>
        {{end}}
    </div>
    <!--
    <p class="ip"><img src="https://ehgt.org/g/mr.gif" class="mr" alt=">"> <a href="https://forums.e-hentai.org/">Visit
            the E-Hentai Forums</a><img src="https://ehgt.org/g/mr.gif" class="mr" alt=">"> <a
                href="https://twitter.com/ehentai">E-Hentai @ Twitter</a><img src="https://ehgt.org/g/mr.gif" class="mr"
                                                                              alt=">"> <a
                href="https://hentaiverse.org/" onclick="popUp('https://hentaiverse.org/',1250,720); return false">Play
            the HentaiVerse Minigame</a><img src="https://ehgt.org/g/mr.gif" class="mr" alt=">"> <a
                href="https://e-hentai.org/lofi/">Lo-Fi Version</a></p>
    -->
</div>
<!--
<div class="dp">Please read the <a href="https://e-hentai.org/tos.php">Terms of Service</a> before participating with or
    uploading any content to this site.
</div>
-->

</body>
</html>
